<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- bootstrap css ofline -->
<link rel="stylesheet" href="css/bootstrap.min.css">
    <title>tables Bootstrap</title>
  </head>
  <body>
    <h1>tables booststrap</h1>


    <!-- booststrap js ofline -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.slim.min.js"></script>

  </body>
</html>